.Footer {
    width: 100%;
    font-size: 14px;
    position: fixed;
    top: 100;
   
}


.copyright{
    color: #eee;
    background: black;
    text-align: center;
}

.text-center{
    position: relative;
}